# Java binaries #
*.class
*/bin/*

# C/C++ binaries #
*/Debug/*
*.o
*.d
*.mk
*.exe

# Python binaries #
*.pyc

# Package Files #
*.war
*.ear
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/tasks.xml.zip
*.zip
*.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/.plugins/org.eclipse.epp.usagedata.recording/usagedata.csv
.metadata/.plugins/org.eclipse.epp.usagedata.recording/usagedata.csv
.metadata/.plugins/org.eclipse.epp.usagedata.recording/usagedata.csv
